/* zare_nk_050325_okk */
/* .kolliClasic{
   font-family: "IRANSansWeb_ms(adad_fa)", "IRANSansWeb_Medium(adad_fa)",
    "IRANSansWeb_ms", "IRANSansWeb_Medium", "IranSans", "b nazanin", "IRNazanin"; 
}  */

.ISW_ms_fa{
   font-family: "IRANSansWeb_ms(adad_fa)"; 
}
.ISW_Medium_fa{
   font-family: "IRANSansWeb_Medium(adad_fa)"; 
}
.ISW_Bold_fa{
   font-family: "IRANSansWeb_Bold(adad_fa)"; 
}
.ISW_ms{
   font-family: "IRANSansWeb_ms"; 
}
.ISW_Medium{
   font-family: "IRANSansWeb_Medium"; 
}
.ISW_Bold{
   font-family: "IRANSansWeb_Bold"; 
}

/* zare_nk_050303_added_st(chon buttonha chamoosh hastand va dar bazi moroorgarha raftare pishfarze dakhely baraye font-family darand ke baes mishe 
az pedaran be ers nabaran, ma inja migim bayad be ers bebari) */
.ISW_Medium_fa button, 
.ISW_Medium button { 
  font-family: inherit;  
}
/* zare_nk_050303_added_end(chon buttonha chamoosh hastand va dar bazi moroorgarha raftare pishfarze dakhely baraye font-family darand ke baes mishe 
az pedaran be ers nabaran, ma inja migim bayad be ers bebari) */

.corTesti{
   color: rgb(255, 0, 64);
}


 