 /* zare_nk_050208_okk */

 .loginForm {
   text-align: right;
   width: 100%;
 }

 .titleStyle {
   font-family: "IRANSansWeb_Bold(adad_fa)";
 }

 .valueStyle {
   font-family: "IRANSansWeb_Medium(adad_fa)";
 }

 .formsRow {
   margin-bottom: 20px;
 }

 .warningCont {
   font-size: 12px;
   color: red;
 }

 .btn {
   background-color: #ff5900;
   color: #ffffff;
   cursor: pointer;
 }

 /* zare_nk_050429_added_st */
 .disabledBtn {
   background-color: #fef1f1;
   color: #ef4343;
   cursor: pointer;
 }

 .disabledBtn:hover {
   background-color: #f5d1d1;
 }

 /* zare_nk_050429_added_end */

 /* zare_nk_050429_commented_st */
 /* .btn:hover {
   background-color: #ff5900;
   box-shadow: 0px 0px 3px 1px #4b4a4a;
 } */
 /* zare_nk_050429_commented_end */

 /* zare_nk_050205_commented_st(chon be tag attribute disabled dadim,moroorgarha background-color va opacity darnazar migirand baraye tag ke olaviate 
 balatari nesbat be csse ma dar file .css midahand) */
 /* .disabledBtn { 
   background-color: #eef0f1 !important;
   opacity: 0.5; 
 }  */
 /* zare_nk_050205_commented_end(chon be tag attribute disabled dadim,moroorgarha background-color va opacity darnazar migirand baraye tag ke olaviate 
 balatari nesbat be csse ma dar file .css midahand) */

 .translateDiv {
   position: absolute;
   top: 50%;
   transform: translate(0%, -50%);
   /* right: 10px; */
   right: .75rem;

   background-color: white;
   font-size: 14px;
   color: #a5abb1;
   /* هیچ انیمیشنی اینجا اعمال نمیشه */
   transition: all 0.3s ease;
   /* یک transition ساده برای نرمی در صورت نیاز */
   pointer-events: none;

   padding-left: .5rem;
   padding-right: .5rem;
 }

 /* استایل برای فعال کردن انیمیشن */
 .translateDiv.animateFocus {
   animation: move-down 0.25s ease-in-out forwards;
 }

 .translateDiv.animateBlur {
   animation: move-In 0.25s ease-in-out forwards;
 }

 @keyframes move-down {
   from {
     top: 50%;
     transform: translate(0%, -50%);
     font-size: 14px;
     color: #a5abb1;
   }

   to {
     top: 0px;
     transform: translate(0%, -10px);
     font-size: 11px;
     color: #1b1c1d;
   }
 }

 @keyframes move-in {
   from {
     top: 0px;
     transform: translate(0%, -10px);
     font-size: 11px;
     color: #1b1c1d;
   }

   to {
     top: 50%;
     transform: translate(0%, -50%);
     font-size: 14px;
     color: #a5abb1;
   }
 }

 .valid {
   border: 1px solid #e0e3e5;
 }

 .invalid {
   border: 1px solid red;
 }