@font-face {
  font-family: "IRANSansWeb_UltraLight";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_UltraLight.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_UltraLight.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Light";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Light.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Light.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Light.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Light.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_ms";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Medium";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Medium.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Medium.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Bold";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Bold.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Bold.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Bold.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Black";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Black.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Black.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Black.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Black.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_UltraLight(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_UltraLight.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum)_UltraLight.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Light(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_Light.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum)_Light.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_ms(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum).ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum).eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Medium(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_Medium.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSans(FaNum)_Medium.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Bold(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_Bold.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum)_Bold.eot") format("embedded-opentype");
}

@font-face {
  /*zare_nk_0421(esmi ke afzali baraye editorash dar admin gozasht 'IranSans' hast va man hamoon 'IRANSansWeb_ms(adad_fa)' ra kopi kardam.)*/
  font-family: "IranSans";
  src: url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum).ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum).eot") format("embedded-opentype");
}

.titleStyle { 
  text-align: right;
  font-family: 'IRANSansWeb_Bold(adad_fa)';
}

.valueStyle {
  font-family: "IRANSansWeb_Medium(adad_fa)";
  text-align: right;
}


.titleInsabad {
  font-family: "IRANSansWeb_Medium(adad_fa)";
  color: #6a6a6a;
  font-size: 12px;
}

body {
  font-family: "IRANSansWeb_ms(adad_fa)", "IRANSansWeb_Medium(adad_fa)",
    "IRANSansWeb_ms", "IRANSansWeb_Medium", "IranSans", "b nazanin", "IRNazanin";
  /* zarezank_041122_nokteh(backgroud tochi) */
  /* background-color: #fcfcfc !important;  */
  /* zarezank_041122_nokteh(backgroud okala) */
  background-color: #f6f6f6 !important;

}

.loginOutBtn {
  font-family: "IRANSansWeb_Medium(adad_fa)";
  color: inherit;
}

/*zare_nk_040227_added_st*/
.vorsab:hover,
.vorsab:link,
.vorsab:visited,
.vorsab:active {
  color: #322e2e;
  text-decoration: none;
}

/*zare_nk_040227_added_end*/

.layoutHeader {
  box-shadow: 0px 3px 2px -1px #d7d6d6;
  display: flex;
  flex-flow: row-reverse;
  justify-content: space-between;
  padding: 5px;

  /* zare_nk_040422_added_st */
  z-index: 899;
  background-color: white;
  /* zare_nk_040422_added_end */
}

.headerTitle {
  margin: 0px;
  display: flex;
  align-items: center;
}

#forlogoutBtnInHeader {
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 5px;
}

button {
  font-family: "IRANSansWeb_Medium(adad_fa)", "IRANSansWeb_Medium", "IranSans",
    "b nazanin", "IRNazanin";
}

.status {
  font-family: "IRANSansWeb_Medium(adad_fa)";
}

@media screen and (min-width: 576px) {
  #prodDetModal .modal-dialog {
    align-items: center;
  }
}

@media screen and (max-width: 576px) {
  #prodDetModal .modal-dialog {
    /*margin: 0px;*/
    /*align-items: end;*/
    /*zare_nk_0809_commented*/
    align-items: center;
    /*zare_nk_0809_added*/
  }
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background-color: white;
  opacity: 1;
}

.swiper-pagination-bullet {
  box-shadow: 0px 0px 3px 0px #545454;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 16px;
  height: 6px;
  background-color: white;
  box-shadow: 0px 0px 3px 0px #545454;
}

.holder:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
}

.holder.opened:before {
  display: block;
}

.highlight {
  fill: none;
  stroke-width: 10;
  stroke: blue;
}

.highlight:hover {
  stroke: red;
}

#ulidfooter>.active {
  border-bottom: 2px solid red;
  color: red;
}

#ulidfooter>.active>a.nav-link {
  color: red;
}

.adadEn {
  font-family: IRANSansWeb_Medium, "b nazanin", IRNazanin;
}

.vorsab:hover,
.vorsab:link,
.vorsab:visited,
.vorsab:active {
  color: #322e2e;
  text-decoration: none;
}

#listGroupAccordionInKesho2 .vorsab:hover,
.vorsab:link,
.vorsab:visited,
.vorsab:active {
  color: inherit;
  text-decoration: none;
}

.searchKhanImgAndSpanContLink:hover {
  background-color: #f7f6f6;
}

.card {
  border: none;
}

#nav3 li:hover>ul.dropdown-menu {
  display: block;
}

#dropdownflexS {
  display: none;
}

#MenoKeshoei {
  position: fixed;
  top: 0px;
  /*dar dele ajaxe GetgenreswithAlbums top dade shod va inja niazi nist bedim,mishe inja nevesht anja nanevasht,siza balaye md ra bayad anja top dad va bayed dar datoore ajaxe GetgenreswithAlbums bad az por shodane nav tebghe ertefaash mohasebe shvad */
  right: 0;
  overflow-x: hidden;
  width: 0px;
  height: 100%;
  background-color: white;
  transition: width 1s;
  z-index: 900;
  display: flex;
  flex-flow: column;
  border-radius: 13px 0px 0px 0px;
  box-shadow: none;
}

#collapsibleNavbar2 {
  position: fixed;
  top: 0px;
  /*dar dele ajaxe GetgenreswithAlbums top dade shod va inja niazi nist bedim,mishe inja nevesht anja nanevasht,siza balaye md ra bayad anja top dad va bayed dar datoore ajaxe GetgenreswithAlbums bad az por shodane nav tebghe ertefaash mohasebe shvad */
  right: 0;
  overflow-x: hidden;
  width: 0px;
  height: 100%;
  background-color: white;
  transition: width 1s;
  z-index: 900;
  display: flex;
  flex-flow: column;
  border-radius: 13px 0px 0px 0px;
  box-shadow: none;
}

#MenoKeshoei #listGroupAccordionInKesho2 {
  border-radius: 13px 0px 0px 0px;
  direction: ltr;
}

#collapsibleNavbar2 #listGroupAccordionIncollapsibleNavbar2 {
  border-radius: 13px 0px 0px 0px;
  direction: ltr;
}

#MenoKeshoei #listGroupAccordionInKesho2>div.list-group-itemm {
  direction: rtl;
}

#collapsibleNavbar2 #listGroupAccordionIncollapsibleNavbar2>div.list-group-itemm {
  direction: rtl;
}

#footerInSabad {
  padding: 5px;
}

#ulidfooter .leftWrappedInUlidfooter,
#ulidfooter .rightWrappedInUlidfooter,
#ulidfooter .middleWrappedInUlidfooter {
  box-shadow: 0px -6px 5px -5px silver;
  background-color: white;
}

#ulidfooter a {
  background-color: white;
}

#ulidfooter .footerTitleCont {
  display: none;
}

@media screen and (min-width: 768px) {
  #accordion {
    position: sticky;
    /*top: bayad bad az por shodane navbar tope acordion ra tebghe ertefaye navbar bedam,dar load ertefa nav sefre,sepas ba ajaxe GetgenreswithAlbums por mishe badesh goftam;*/
    z-index: 1009;
  }

  /* #headerr {
    z-index: 899;
    background-color: #fcfcfc !important;
  } */

  #MenoKeshoei {
    font-size: 100%;
  }

  #collapsibleNavbar2 {
    font-size: 100%;
  }

  #ulidfooter {
    display: none;
  }

  #InsabadAndLogin {
    display: flex;
  }

  .heartAndBarsCont {
    display: flex;
  }

  #sabadLoginCont {
    justify-content: space-between;
  }

  #body {
    padding-bottom: 0px;
  }

  #navarbala {
    justify-content: center;
  }

  #tempForMax768 {
    display: none;
  }

  #DownloadGuide {
    font-size: 14px;
  }
}

#LayOutFooterAndRightsReserved {
  display: flex;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  #accordion {
    position: fixed;
    top: 0px;
    /*dar dele ajaxe GetgenreswithAlbums top dade shod va inja niazi nist bedim,mishe inja nevesht anja nanevasht,siza balaye md ra bayad anja top dad va bayed dar datoore ajaxe GetgenreswithAlbums bad az por shodane nav tebghe ertefaash mohasebe shvad */
    right: 0;
    overflow-x: hidden;
    width: 0px;
    height: 100%;
    background-color: silver;
    transition: width 1s;
    z-index: 1010;
  }

  /* #headerr {
    z-index: 899;
    background-color: #fcfcfc !important;
  } */

  #ulidfooter {
    display: flex;
  }

  #InsabadAndLogin {
    display: none;
  }

  .heartAndBarsCont {
    display: none;
  }

  #sabadLoginCont {
    justify-content: start;
  }

  #MenoKeshoei {
    font-size: 120%;
  }

  #collapsibleNavbar2 {
    font-size: 120%;
  }

  #body {
    padding-bottom: 60px;
  }

  #DownloadGuide {
    font-size: 12px;
  }

  #footerInSabad {
    padding-bottom: 0px;
  }
}

#closeaccordion:hover {
  opacity: 0.8;
}

li#proinf>#dropdownflex {
  display: none;
  background-color: red;
  width: 100%;
  position: absolute;
  right: 0px;
}

#nav2 li:hover>#dropdownflex {
  display: block;
  background-color: red;
  border: 3px dashed orange;
  z-index: 2001;
}

.swiper-wrapper .swiper-slide {
  width: auto;
}

.swiper-wrapper .Mainslides {
  background-color: white;
}

/* zare_nk_040328_added_st */
/* .titleInsabad {
  font-size: 12px;
  color: #4b4949;
} */
/* zare_nk_040328_added_end */

.darsadTakhfifInsabad {
  font-size: 14px;
}

.gheimatMasrafInsabad {
  font-size: 12px;
  color: #898888;
}

.gheimatForooshInsabad,
.majmooGheimatForooshSatrInsabad {
  font-size: 14px;
  color: #4b4949;
}

.rialInsabad {
  font-size: 12px;
  color: #4b4949;
}

.filterSideBarCont {
  height: 100%;
  overflow: hidden;
  flex-flow: column;
}

.NamayeshBarAsasCont {
  flex-flow: row;
}

.filterSideBarInMobileCont {
  flex-flow: column;
  flex: 0 0 auto;
  padding-right: 10px;
  padding-left: 10px;
}

.filterbottomBarInMobileCont {
  position: fixed;
  bottom: 0px;
  overflow-x: hidden;
  width: 100%;
  height: 0px;
  background-color: inherit;
  transition: height 1s;
  z-index: 9014;
  flex-flow: column;
  border-radius: 13px 13px 0px 0px;
  box-shadow: 0px 0px 5px 2px silver;
}

#contentContInTochiDes:before {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 10%, #ffffff);
  content: "";
  height: 100%;
  position: absolute;
  width: 100%;
  right: 0px;
}

#contentContInTochiDes.removeBeforeContent:before {
  content: none;
}

#contentContInTochiDes {
  color: #545454;
}

#contentContInTochiDes p {
  font-size: 12px;
  line-height: 2.16;
  margin-bottom: 10px;
  text-align: justify;
}

#contentContInTochiDes h1 {
  font-size: 21px;
  margin-bottom: 12px;
  font-family: "IRANSansWeb_Medium(adad_fa)";
}

#contentContInTochiDes h2 {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: "IRANSansWeb_Medium(adad_fa)";
}

#bishtarInTochiDes {
  font-size: 12px;
}

@media screen and (min-width: 992px) {
  #tochikalaDescription {
    display: flex;
  }

  #contentContInTochiDes {
    padding: 0px 15px;
  }

  #swiperSearched .swiper-wrapper .swiper-slide,
  #swiperLastSearched .swiper-wrapper .swiper-slide,
  #swiperMoreSearched .swiper-wrapper .swiper-slide {
    flex-flow: row;
    flex: 0 0 46%;
  }

  #swiperSearched .swiper-wrapper .swiper-slide #sath1,
  #swiperLastSearched .swiper-wrapper .swiper-slide #sath1,
  #swiperMoreSearched .swiper-wrapper .swiper-slide #sath1 {
    flex: 1 1 30%;
  }

  #swiperSearched .swiper-wrapper .swiper-slide .TitleSwiper,
  #swiperLastSearched .swiper-wrapper .swiper-slide .TitleSwiper,
  #swiperMoreSearched .swiper-wrapper .swiper-slide .TitleSwiper {
    flex: 1 0 60%;
  }

  #cardcontainerForSabad .flxpedar2>div#sath1ImgCont2 {
    flex: 0 1 40%;
  }

  .flxpedar2_new div.sath1ImgCont2_new img {
    width: 92px;
  }

  #listGroupAccordionInFixed {
    flex-flow: row;
  }

  #footerInSabadFixed {
    max-width: 360px;
    flex: 1 1 auto;
    background-color: silver;
    margin-right: 10px;
  }

  #footerInSabadFixedContent {
    display: flex;
  }

  #chooseDeliveryTimeInSabadFixed {
    display: flex;
  }

  #chooseDeliveryTimeInSabadFixedInMobileCont {
    display: none;
  }

  #cardcontainerForSabad .flxpedar2>div#dflx22 {
    flex: 1 0 56%;
    width: 0px;
    /*gozashtam ke teke mohtava age kheyli bozorg bood arz div bozorg nashe kheili ziad*/
  }

  .filterSideBarInMobileCont,
  .filterbottomBarInMobileCont {
    display: none;
  }

  .filterSideBarCont {
    flex: 0 0 auto;
  }

  .filterSideBarCont,
  .NamayeshBarAsasCont {
    display: flex;
  }

  #loginTitleCont {
    border: 1px solid silver;
    padding: 5px 5px 5px 5px;
  }

  #loginTitle {
    display: inline-block;
  }

  #loginTitleCont img {
    margin-left: 5px;
  }

  #dropdownflexS {
    height: fit-content;
    width: 100%;
    position: absolute;
    right: 0px;
  }

  #searchKhanCont {
    max-height: calc(100vh - 7rem);
  }
}

@media screen and (max-width: 992px) {
  #tochikalaDescription {
    display: none;
  }

  #contentContInTochiDes {
    padding: 0px 10px;
  }

  #swiperSearched .swiper-wrapper .swiper-slide,
  #swiperLastSearched .swiper-wrapper .swiper-slide,
  #swiperMoreSearched .swiper-wrapper .swiper-slide {
    flex-flow: row;
    flex: 0 0 46%;
  }

  #swiperSearched .swiper-wrapper .swiper-slide #sath1,
  #swiperLastSearched .swiper-wrapper .swiper-slide #sath1,
  #swiperMoreSearched .swiper-wrapper .swiper-slide #sath1 {
    flex: 1 1 30%;
  }

  #swiperSearched .swiper-wrapper .swiper-slide .TitleSwiper,
  #swiperLastSearched .swiper-wrapper .swiper-slide .TitleSwiper,
  #swiperMoreSearched .swiper-wrapper .swiper-slide .TitleSwiper {
    flex: 1 0 60%;
  }

  #cardcontainerForSabad_new .flxpedar2_new>div#sath1ImgCont2 {
    flex: 0 1 40%;
  }

  .flxpedar2_new div.sath1ImgCont2_new img {
    width: 84px;
  }

  #listGroupAccordionInFixed {
    flex-flow: column;
  }

  #footerInSabadFixed {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: green;
  }

  #footerInSabadFixedContent {
    display: none;
  }

  #chooseDeliveryTimeInSabadFixed {
    display: none;
  }

  #chooseDeliveryTimeInSabadFixedInMobileCont {
    display: flex;
  }

  #cardcontainerForSabad .flxpedar2>div#dflx22 {
    flex: 1 0 56%;
    width: 0px;
    /*gozashtam ke teke mohtava age kheyli bozorg bood arz div bozorg nashe kheili ziad*/
  }

  .filterSideBarInMobileCont,
  .filterbottomBarInMobileCont {
    display: flex;
  }

  .filterSideBarCont {
    /*makhsoose profile,oonja display ra ham flex mikonim va khate X12 biasar mishe*/
    flex: 1 1 auto;
  }

  .filterSideBarCont,
  .NamayeshBarAsasCont {
    display: none;
  }

  #loginTitleCont {
    border: 1px solid silver;
    padding: 5px 5px 5px 5px;
  }

  #loginTitle {
    display: inline-block;
  }

  #loginTitleCont img {
    margin-left: 5px;
  }

  #dropdownflexS {
    height: fit-content;
    width: 100%;
    position: absolute;
    right: 0px;
  }

  #searchKhanCont {
    max-height: calc(100vh - 3rem);
  }
}

@media screen and (max-width: 576px) {

  #swiperSearched .swiper-wrapper .swiper-slide,
  #swiperLastSearched .swiper-wrapper .swiper-slide,
  #swiperMoreSearched .swiper-wrapper .swiper-slide {
    flex-flow: row;
    flex: 0 0 46%;
  }

  #swiperSearched .swiper-wrapper .swiper-slide #sath1,
  #swiperLastSearched .swiper-wrapper .swiper-slide #sath1,
  #swiperMoreSearched .swiper-wrapper .swiper-slide #sath1 {
    flex: 1 1 30%;
  }

  #swiperSearched .swiper-wrapper .swiper-slide .TitleSwiper,
  #swiperLastSearched .swiper-wrapper .swiper-slide .TitleSwiper,
  #swiperMoreSearched .swiper-wrapper .swiper-slide .TitleSwiper {
    flex: 1 0 60%;
  }

  #cardcontainerForSabad .flxpedar2>div#sath1ImgCont2 {
    flex: 0 1 40%;
  }

  #cardcontainerForSabad .flxpedar2>div#dflx22 {
    flex: 1 0 56%;
    width: 0px;
    /*gozashtam ke teke mohtava age kheyli bozorg bood arz div bozorg nashe kheili ziad*/
  }
}

.swiper-button-next {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

.swiper-button-prev {
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

#ulidfooter a {
  color: white;
  padding-top: 3px;
  padding-bottom: 3px;
  text-decoration: none;
}

#ulidfooter a:hover {
  color: white;
}

#ulidfooter a span {
  opacity: 0.8;
}

#id123,
#id1234 {
  width: 100%;
  height: 40vh;
}

#Popfont {
  font-family: "IRANSansWeb_Medium(adad_fa)";
}

#btnClosePopup:hover {
  color: red;
}

#AddAddressCont {
  display: flex;
}

@media screen and (max-width: 1000px) {
  #AddAddressCont {
    display: none;
  }
}

/* ok */
#SubprogramsCont {
  padding: 15px 10px; 
  /* gap:10, */
}

/* ok */
.Subprograms { 
  flex: 1 1 95%; 
  padding: 5px;
}

/* ok */
.imgAndTextInSubprograms {
  flex-flow: row;
  width: auto;
}

/* ok */
.roundedPillsCont {
  margin-left: 10px;
  margin-bottom: 0px;
  justify-content: flex-start;
}

/* ok */
.subSysTextCont {
  width: 0;
  flex: 1 1 auto;
  align-items: flex-start;
}


@media screen and (min-width: 576px) {
  /* ok */
  #SubprogramsCont {
    padding: 15px 15px;
    /* gap: 10; */
  }

  /* ok */
.Subprograms { 
  flex: 1 1 45%; 
  padding: 5px;
}

  /* ok */
  .imgAndTextInSubprograms {
    flex-flow: column;
    width: 100%;
  }

  /* ok */
  .roundedPillsCont {
    margin-left: 0px;
    margin-bottom: 10px;
    justify-content: center;
  }

  /* ok */
  .subSysTextCont {
    width: 100%;
    flex: 1 1 auto;
    align-items: center;
  }

  /* ok */
  .titleStyle { 
    text-align: center;
    font-family: 'IRANSansWeb_Bold(adad_fa)';
  }

  /* ok */
  .valueStyle {
    font-family: "IRANSansWeb_Medium(adad_fa)";
    text-align: center;
  }
}

@media screen and (min-width: 768px) {

  /* ok */
  .imgAndTextInSubprograms {
    flex-flow: row;
    width: auto;
  }

/* ok */
.roundedPillsCont {
  margin-left: 10px;
  margin-bottom: 0px;
  justify-content: flex-start;
}

  /* ok */
  .subSysTextCont {
    width: 0;
    flex: 1 1 auto;
    align-items: flex-start;
  }

  /* ok */
  .titleStyle { 
    text-align: right;
    font-family: 'IRANSansWeb_Bold(adad_fa)';
  }

  /* ok */
  .valueStyle {
  font-family: "IRANSansWeb_Medium(adad_fa)";
    text-align: right;
}
}

@media screen and (min-width: 992px) {
  #sabadLoginContFrmCont {
    flex: 0 0 33%;
  }

  #AddAddressCont {
    flex: 0 0 33%;
  }

  .nearStores {
    flex: 1 1 45%;
  }

  .nearStores:nth-child(odd) {
    margin-left: 10px;
  }

  #SubprogramsTitle {
    margin: 10px 50px 15px 50px;
  }

  /* ok */
  #SubprogramsCont {
    padding: 15px 50px;
    /* gap:15; */
  }

  /* ok */
  .Subprograms { 
    flex: 1 1 31%; 
    padding: 7px;
  }
 
  /* .Subprograms:not(:nth-child(3n)) .vorsab {
    margin-left: 30px;
  } */

  /* zare_nk_040228_added_end */

  /* .decsInSubprograms {
    display: flex;
  } */


  /* .leftArrowInSubprograms {
    display: flex;
  }

  .roundedPillsCont {
    margin-left: 10px;
  } */

  #sabadLoginCont {
    flex: 0 0 auto;
  }

  #LogoAboveCont {
    display: none;
  }

  #ourStorsAndLogoCont {
    display: flex;
    justify-content: space-between;
  }

  #AdressModal .modal-content,
  #AdressLocationModal .modal-content,
  #AdressLocationModal2 .modal-content {
    height: 90vh;
  }

  #navarbala {
    flex-flow: row-reverse;
  }

  .LogoAbove {
    display: none;
  }

  .LogoBelow {
    display: flex;
  }

  #AddAddress span {
    max-width: 350px;
  }

  #ourSroresCont {
    padding-left: 20px;
  }

  #LayOutFooter {
    flex-flow: row;
    height: 175px;
    padding: 0px 15px;
  }

  #LayOutFooter #secondFotersCol .spanCont {
    justify-content: end;
  }

  .FotersCol {
    flex: 1 0 31%;
  }

  #RightsReserved {
    flex-flow: row-reverse;
  }

  #RightsReserved img {
    margin-left: 20px;
  }

  #SocialNetworksCont {
    width: auto;
    justify-content: start;
  }

  #SocialNetworksCont>div {
    margin-left: 25px;
  }

  #contactSupCont {
    display: flex;
  }

  #contactUsAndSuoInMobileCont {
    display: none;
  }

  #TrostLogoContCont {
    justify-content: start;
  }

  #TrostLogoContCont>div {
    width: 60px;
    height: 60px;
  }

  #TrostLogoContCont img {
    width: 35px;
  }
}

@media screen and (min-width: 1400px) {
  #SubprogramsTitle {
    margin: 10px 200px 15px 200px;
  }

  /* ok */
  /* #SubprogramsCont {
    padding: 15px 0px;
    margin: 20px 200px 15px 200px;
  }

  .imgAndTextInSubprograms {
    flex-flow: row;
  }

  .leftArrowInSubprograms {
    display: flex;
  }

  .roundedPillsCont {
    margin-left: 10px;
  } */
}

@media screen and (max-width: 990px) {
  #sabadLoginContFrmCont {
    flex: 0 0 100%;
  }

  #InsabadAndLogin #sabadicon {
    margin-top: 7px;
  }

  #AddAddressCont {
    flex: 0 0 100%;
  }

  #ourStorsAndLogoCont {
    display: none;
  }

  .nearStores {
    flex: 1 1 95%;
  }

  #SubprogramsTitle {
    margin: 10px 10px 15px 10px;
  }

  /* #SubprogramsCont {
    padding: 15px 0px;
    margin: 20px 10px 15px 10px; 
  }

  .Subprograms {
    flex: 1 1 45%;
    margin-bottom: 30px;
  } */

  
  /* .Subprograms:nth-child(odd) .vorsab {
    margin-left: 30px;
  } */

  /* zare_nk_040228_added_end */

  /* .decsInSubprograms {
    display: none;
  } */

  /* .imgAndTextInSubprograms {
    flex-flow: row; 
  }
*/
  /* .leftArrowInSubprograms {
    display: flex;
  }

  .roundedPillsCont {
    margin-left: 10px;
  } */

  #sabadLoginCont {
    flex: 1 0 auto;
  }

  #LogoAboveCont {
    display: flex;
  }

  #ourStorsAndLogoCont {
    justify-content: center;
    justify-items: center;
  }

  #AdressModal .modal-content,
  #AdressLocationModal .modal-content,
  #AdressLocationModal2 .modal-content {
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #navarbala {
    flex-flow: column;
  }

  #AddAddressCont {
    margin-bottom: 0px;
  }

  .LogoAbove {
    display: flex;
  }

  .LogoBelow {
    display: none;
  }

  #AddAddress span {
    max-width: 100%;
  }

  #LayOutFooter {
    flex-flow: column;
    height: auto;
  }

  #LayOutFooter #secondFotersCol {
    margin-top: 20px;
  }

  #LayOutFooter #secondFotersCol .spanCont {
    justify-content: start;
  }

  #LayOutFooter #thirdFotersCol {
    padding-top: 10px;
  }

  #secondFotersCol {
    height: 130px;
    border-bottom: 2px solid #f0f0f0;
    align-content: space-between;
  }

  #contInThirdFotersCol {
    width: 100%;
  }

  #RightsReserved {
    flex-flow: column-reverse;
  }

  #SocialNetworksCont {
    width: 100%;
    justify-content: space-between;
  }

  #contactSupCont {
    display: none;
  }

  #contactUsAndSuoInMobileCont {
    display: flex;
  }

  #TrostLogoTitleCont {
    display: none;
  }

  #TrostLogoContCont {
    justify-content: space-between;
  }

  #TrostLogoContCont>div {
    width: 70px;
    height: 70px;
  }

  #TrostLogoContCont img {
    width: 45px;
  }
}

@media screen and (max-width: 768px) {
  /* .imgAndTextInSubprograms {
    flex-flow: column;
    flex: 1 0 auto;
    align-items: center;
  } */

  /* .leftArrowInSubprograms {
    display: none; 
  } */

  /* .roundedPillsCont {
    margin-left: 0px;
    margin-bottom: 10px;
  } */

  #navarbala {
    justify-content: space-between;
    flex-flow: row;
  }

  #sabadLoginContFrmCont {
    flex: 0 0 content;
  }

  #AddAddressCont {
    flex: 1 1 auto;
  }

  #sabadLoginCont {
    flex: 0 0 auto;
  }

  #tempForMax768 {
    display: flex;
  }

  .marginLess768 {
    margin-left: 20px;
  }
}

#sabadListGroupHeader,
#ListGroupHeaderInMobile,
#ListGroupHeader {
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-content: center;
  color: white;
  background-color: #dc3545;
  padding: 0px 2px;
}

#ListGroupHeaderInMobile {
  padding: 5px 2px;
  border-radius: 13px 13px 0px 0px;
}

#MenoKeshoei #sabadListGroupHeader {
  flex-flow: row-reverse;
}

#collapsibleNavbar2 #ListGroupHeader {
  flex-flow: row-reverse;
}

#sabadListGroupHeader #sabadiconSpan,
#ListGroupHeaderInMobile #spanGroupHeaderInMobile,
#ListGroupHeader #iconSpan {
  flex: 0 0 auto;
}

#listGroupHeader #closeaccordionnnn,
#sabadListGroupHeader #closeaccordionnnn,
#ListGroupHeaderInMobile #closeListGroupAccordionInKeshoOfferInMobile,
#ListGroupHeader #closeaccordion2 {
  border: none;
  box-shadow: none;
}

html {
  overflow-y: auto;
  scrollbar-width: thin;
  /*Firefox*/
}

#MenoKeshoei #listGroupAccordionInKesho2,
#collapseExample2,
.thinScroll,
#listGroupAccordionInKeshoOfferInMobile .scrolGirInBottomSlide,
#collapsibleNavbar2 #listGroupAccordionIncollapsibleNavbar2 {
  overflow-y: auto;
  scrollbar-width: thin;
  /*Firefox*/
}

#tableInTarakoneshModal {
  scrollbar-width: thin;
  /*Firefox*/
}

html::-webkit-scrollbar,
#MenoKeshoei #listGroupAccordionInKesho2::-webkit-scrollbar,
#collapsibleNavbar2 #listGroupAccordionIncollapsibleNavbar2::-webkit-scrollbar,
#collapseExample2::-webkit-scrollbar,
.thinScroll::-webkit-scrollbar,
#listGroupAccordionInKeshoOfferInMobile .scrolGirInBottomSlide::-webkit-scrollbar {
  /*no Firefox*/
  /*baraye paszamineh*/
  width: 4px;
  scrollbar-color: white;
}

/* Track */
html::-webkit-scrollbar-track,
#MenoKeshoei #listGroupAccordionInKesho2::-webkit-scrollbar-track,
#collapsibleNavbar2 #listGroupAccordionIncollapsibleNavbar2::-webkit-scrollbar-track,
#collapseExample2::-webkit-scrollbar-track,
.thinScroll::-webkit-scrollbar-track,
#listGroupAccordionInKeshoOfferInMobile .scrolGirInBottomSlide::-webkit-scrollbar-track {
  /*no Firefox*/
  /*baraye paszamineh*/
  border-radius: 0px;
  box-shadow: 0px 0px 2px 1px #8e8e8e inset;
}

/* Handle */
html::-webkit-scrollbar-thumb,
#MenoKeshoei #listGroupAccordionInKesho2::-webkit-scrollbar-thumb,
#collapsibleNavbar2 #listGroupAccordionIncollapsibleNavbar2::-webkit-scrollbar-thumb,
#collapseExample2::-webkit-scrollbar-thumb,
.thinScroll::-webkit-scrollbar-thumb,
#listGroupAccordionInKeshoOfferInMobile .scrolGirInBottomSlide::-webkit-scrollbar-thumb {
  /*no Firefox*/
  /*baraye khode scroll*/
  background: #8e8e8e;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover,
#MenoKeshoei #listGroupAccordionInKesho2::-webkit-scrollbar-thumb:hover,
#collapsibleNavbar2 #listGroupAccordionIncollapsibleNavbar2::-webkit-scrollbar-thumb:hover,
#collapseExample2::-webkit-scrollbar-thumb,
.thinScroll::-webkit-scrollbar-thumb:hover,
#listGroupAccordionInKeshoOfferInMobile .scrolGirInBottomSlide::-webkit-scrollbar-thumb:hover {
  /*no Firefox*/
  /*baraye khode scroll*/
  background: #555555;
  box-shadow: 0px 0px 3px 1px #555555 inset;
}

.sth2>a.collapsed>.dp0,
.sth3>a.collapsed>.dp0,
.sth4>a.collapsed>.dp0 {
  border-bottom: none;
}

.sth2>a:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 105%;
  margin-left: 5px;
}

.sth2>a.collapsed:before {
  content: "\f104";
}

.sth3>a:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 800;
  font-size: 95%;
  margin-left: 5px;
}

.sth3>a.collapsed:before {
  content: "\f104";
}

.sth4>a:before {
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 85%;
  margin-left: 5px;
}

.sth4>a.collapsed:before {
  content: "\f104";
}

#searchdiv:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 990;
}

#searchdiv.opened:before {
  display: block;
}

#SerchTextBox2:focus {
  outline: none !important;
  box-shadow: none;
  border: none;
}

#sabadHeaderAndItemsCont .takmilAndEdamehCont {
  justify-content: space-around;
}

@media screen and (min-width: 576px) {
  #sabadHeaderAndItemsCont .takmilAndEdamehCont .btn {
    flex: 1 1 50%;
    height: 50px;
    font-size: 16px;
  }

  .changeZamanBandiCont {
    flex-flow: row;
  }

  .changeZamanBandiCont .ChangeDeliveryTime {
    justify-content: start;
  }
}

@media screen and (max-width: 576px) {
  #sabadHeaderAndItemsCont .takmilAndEdamehCont .btn {
    flex: 1 1 50%;
    height: 40px;
    font-size: 14px;
  }

  .changeZamanBandiCont {
    flex-flow: column;
  }

  .changeZamanBandiCont .ChangeDeliveryTime {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}

.plussMinus:focus {
  outline: none !important;
  box-shadow: none;
}

.nav-tabs .nav-item a.active,
.nav-tabs .nav-item a:hover {
  border: none;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 14px;
}

/* Hide the checkbox input */
.toggle input {
  display: none;
}

/* Describe slider's look and position. */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: gray;
  transition: 0.4s;
  border-radius: 34px;
}

/* Describe the white ball's location and appearance in the slider. */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: -1px;
  bottom: -3px;
  background-color: #eaeaea;
  transition: 0.4s;
  border-radius: 50%;
}

/* Modify the slider's background color to green once the checkbox has been selected. */
input:checked+.slider {
  background-color: #ffd2d7;
}

/* When the checkbox is checked, shift the white ball towards the right within the slider. */
input:checked+.slider:before {
  transform: translateX(17px);
  background-color: red;
}

.dataAndWeekInZamanbandiModal {
  margin: 10px 0px 20px 0px;
}

.slideItemsInZamanbandiModal label {
  flex: 0 0 auto;
  height: 60px;
  padding: 0px 10px;
}