@font-face {
  font-family: "IRANSansWeb_UltraLight";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_UltraLight.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_UltraLight.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_UltraLight.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_UltraLight.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Light";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Light.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Light.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Light.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Light.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_ms";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Medium";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Medium.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Medium.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Medium.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Medium.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Bold";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Bold.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Bold.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Bold.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Bold.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Black";
  src:
    url("../../public/fonts/webfont/woff2/IRANSansWeb_Black.woff2") format("woff2"),
    url("../../public/fonts/webfont/woff/IRANSansWeb_Black.woff") format("woff"),
    url("../../public/fonts/webfont/ttf/IRANSansWeb_Black.ttf"),
    url("../../public/fonts/webfont/eot/IRANSansWeb_Black.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_UltraLight(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_UltraLight.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_UltraLight.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_UltraLight.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum)_UltraLight.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Light(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_Light.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_Light.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum)_Light.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_ms(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum).ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum).eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Medium(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_Medium.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_Medium.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSans(FaNum)_Medium.eot") format("embedded-opentype");
}

@font-face {
  font-family: "IRANSansWeb_Bold(adad_fa)";
  src:
    url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum)_Bold.ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum)_Bold.eot") format("embedded-opentype");
}

@font-face {
  /*zare_nk_0421(esmi ke afzali baraye editorash dar admin gozasht 'IranSans' hast va man hamoon 'IRANSansWeb_ms(adad_fa)' ra kopi kardam.)*/
  font-family: "IranSans";
  src: url("../../public/fonts/webfont(farsi_adad_hast)/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("../../public/fonts/webfont(farsi_adad_hast)/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("../../public/fonts/webfont(farsi_adad_hast)/ttf/IRANSansWeb(FaNum).ttf"),
    url("../../public/fonts/webfont(farsi_adad_hast)/eot/IRANSansWeb(FaNum).eot") format("embedded-opentype");
}

body {
  /* zare_nk_050204_comment(baraye bazi propertyha mesle font-family barname pishfarzhaye designi baraye body lahaz mikoneh ke ehtemalan olaviate balatari ham daran
   nesbat be code css dastiye ma baraye body, pas behtare be khode tagha mostaghim font-family bedim, ke man az class dadan be tag dar globals.module.css estefade kardam)  */
  /* font-family: "IRANSansWeb_ms(adad_fa)", "IRANSansWeb_Medium(adad_fa)",
    "IRANSansWeb_ms", "IRANSansWeb_Medium", "IranSans", "b nazanin", "IRNazanin"; */
  background-color: #f6f6f6 !important;
}

/* .vorsab:hover,
.vorsab:link,
.vorsab:visited,
.vorsab:active {
  color: #322e2e;
  text-decoration: none;
} */


@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {}

@media screen and (min-width: 1400px) {}

/* zare_nk_041225_added_st */

/* .page-cont { */
.main-in-LayoutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #f1f1f2;
}

/* .main { */
.section-in-LayoutWrapper {
  width: 100%;
  max-width: 450px;
  min-height: 100dvh;
  position: relative;
  /* zare_nk_050331_added_st */
  display: flex;
  flex-flow: row;
  /* zare_nk_050331_added_end */
  /* border: 2px dashed rgb(255, 0, 170); */
}

/* zare_nk_041225_added_end */

/* zare_nk_050131_added_st */
html {
  overflow-y: auto;
  scrollbar-width: thin;
  /*Firefox*/
}

.thinScroll {
  overflow-y: auto;
  scrollbar-width: thin;
  /*Firefox*/
}

html::-webkit-scrollbar,
.thinScroll::-webkit-scrollbar {
  /*no Firefox*/
  /*baraye paszamineh*/
  width: 4px;
  scrollbar-color: white;
}

/* Track */
html::-webkit-scrollbar-track,
.thinScroll::-webkit-scrollbar-track {
  /*no Firefox*/
  /*baraye paszamineh*/
  border-radius: 0px;
  box-shadow: 0px 0px 2px 1px #8e8e8e inset;
}

/* Handle */
html::-webkit-scrollbar-thumb,
.thinScroll::-webkit-scrollbar-thumb {
  /*no Firefox*/
  /*baraye khode scroll*/
  background: #8e8e8e;
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover,
.thinScroll::-webkit-scrollbar-thumb:hover {
  /*no Firefox*/
  /*baraye khode scroll*/
  background: #555555;
  box-shadow: 0px 0px 3px 1px #555555 inset;
}

/* zare_nk_050131_added_end */